@model IEnumerable<BrandModel>
@{
    ViewData["title"] = "Brand Listed";
}
<h3>list Brand</h3>
<a asp-action="Create" asp-controller="Product">ADD Brand</a>
<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Brand Name</th>
            <th scope="col">Brand Description</th>
            <th scope="col">Brand Slug</th>
            <th scope="col">Brand Status</th>
           



        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <th scope="row">@item.Id</th>
                <td>@item.Name</td>
                <td>@item.Description</td>

                <td>@item.Slug</td>
                <td>
                    @if (item.Status == 1)
                    {
                        <span class="text text-success">HIỂN THỊ</span>
                    }
                    else
                    {
                        <span class="text text-danger">ẨN</span>

                    }
                </td>
                <td>
                    <a asp-action="Edit" class="btn btn-warning btn-sm" asp-controller="Brand" asp-route-Id="@item.Id">Edit</a>
                    <a asp-action="Delete" class="btn btn-danger btn-sm" asp-controller="Brand" asp-route-Id="@item.Id">Delete</a>

                </td>
            </tr>
        }

    </tbody>
</table>